.btn {
    color: #a9b2be;
    background-color: transparent;
    border: 1px solid #1e2836;
    border-radius: 7px;
    width: fit-content;
    padding: 7px 15px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
    transform: translate(0px, -3px);
    box-shadow:
    0 0 5px rgba(86, 123, 202, 0.11),
    0 0 10px rgba(86, 123, 202, 0.11),
    0 0 15px rgba(86, 123, 202, 0.11);
}

.btn:active {
    transform: translate(0px, -1px);
}